.ulist {
    padding: 1em;
}

.list-item {
    border: 2px solid #333;
}


.list-item h6 {
    position: relative;
    left: 3em;
    margin-top: 1em;
}

.containerx {
    overflow: hidden;
    position: absolute !important;
    width: 100%;
    height: 100vh;
    padding: 2em 1em;
    min-width: 100%;
    background: url('https://images.pexels.com/photos/1120566/pexels-photo-1120566.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 30;
}

.list-item:last-of-type {
    margin-bottom: 10em;
}


.inner-list {
    position: relative;
    background: #FFf;
    padding: 2em;
    margin: 2em;
    border: 2px solid #333;
}

.list-item:hover {
    text-decoration: none;
    color: rgb(99, 92, 92);
}

.footer-bottom {
    position: absolute;
    background: #333;
    color: white;
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 20;
}