html,
body {
    height: 100vh;
}

.containery {
    overflow: hidden;
    position: absolute !important;
    width: 100%;
    padding: 2em 1em;
    min-width: 100%;
    background: url('https://images.pexels.com/photos/2387120/pexels-photo-2387120.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 30;
}

.containery .ulist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    margin-bottom: 4em;
}

.onebrew {
    margin-bottom: 10em;
    left: 1em;
}

.containery .list-item {
    width: 92%;
    left: 1em;
    padding: 0em 2em;
}

.containery .inner-list {
    text-align: center;
    position: relative;
    background: #FFf;
    padding: 1em;
    align-self: center;
    border: 2px solid #333;
    line-height: 0.3em;
    width: 100%
}


.namex,
.cityx,
.typex,
.regionx {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid rgb(133, 126, 126);
    margin: 0.5em 0em;
}

.namex p {
    position: relative;
    top: -8px;
}


.cityx p {
    position: relative;
    top: -15px;
}


.typex h5 {
    position: relative;
    left: 0.8em;
}


.typex p {
    position: relative;
    top: -10px;
}